.topbar{
    height:150px;
    display:flex;
    background-color: rgb(247, 233, 218);
}
.topbar p{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 130px;
    font:bolder;
}
.topbar a{
    text-decoration: none;
    color: darkblue;
}
.topbar ul{
    display: flex;
    padding-left: 100px;
    margin-top: 20px
}

.topbar li{
    font-size: 25px;
    padding-left: 40px;
    list-style: none;
}
.nav{
    height:50px;
    background-color: rgb(36, 21, 21);
    align-content: center;

}
.nav a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}
.nav li{
    font-size: 17px;
    padding-left:110px;
    list-style: none;
    margin-top: 10px;
}

.nav ul{
    display: flex;
    padding-left:100px;
}

.bgimg{
    width: 100%;
    height: 600px;
}
.imgtext{
    margin-top: -550px;
    margin-left: 1100px;
    position: absolute;
    font-size:30px;
    font:bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(253, 253, 253);
    opacity: 0.6;
    height: 470px;
}
.imgtext p{
    font-size: 20px;
    padding-left: 370px;
    font:bolder;
}